.palette-maker-color {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

.palette-maker-color:nth-child(even) {
  background-color: #ddd;
}

.palette-maker-color-value {
  text-align: center;
  font-size: 18px;
  background-color: #ddd;
}

.palette-maker-color-value:nth-child(even) {
  background-color: #bbb;
}
