.palette-maker {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.palette-maker-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.palette-maker-color > * {
  height: 5vh;
}

.palette-maker-color-hex {
  background: transparent;
  border: none;
  margin-left: 25px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}

.palette-maker-color-options {
  margin-right: 10px;
}

.palette-maker-copy-color {
  margin: 10px;
  height: 20px;
  width: 20px;
}

.palette-maker-delete-color {
  margin: 10px;
  height: 20px;
  width: 18px;
}

.palette-maker-lock-color {
  margin: 10px;
  height: 20px;
  width: 20px;
}

.palette-maker-copied-message,
.palette-maker-limit-message {
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 15px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.palette-maker-copied-message {
  background-color: #d2fbd0;
  color: #50854e;
}

.palette-maker-limit-message {
  background-color: #fbd0d0;
  color: #854e4e;
}

.palette-maker-palette-options {
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.palette-maker-palette-options > button {
  font-weight: bold;
  font-size: 14px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}

.palette-maker-x-div {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.palette-maker-x-div:active {
  background-color: #f7f7f7;
}

.palette-maker-x {
  margin: 10px auto;
  width: 12px;
  height: 12px;
}

.palette-maker-palette-name-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.palette-maker-palette-name-input-section {
  padding: 50px 20px 40px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.palette-maker-palette-name-input {
  text-align: left;
  width: 100%;
  padding: 12px 30px;
  margin: 5px auto;
  font-size: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.palette-maker-palette-name-upload-button {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 0;
  margin: 8px auto;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0066ff;
  border: 1px solid #0066ff;
}

.palette-maker-palette-name-upload-button:active {
  background-color: #0052cc;
}

.palette-maker-palette-name-error {
  color: #ff0000;
  font-size: 14px;
}
