.container {
  background-color: #eee;
}

.color-container {
  display: flex;
  flex-direction: row;
}

.color {
  flex: auto;
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

.color:nth-child(even) {
  background-color: #ddd;
}
