.palette-container {
  font-size: 16px;
  width: 90vw;
  margin: 15px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  border-radius: 15px;
  max-width: 450px;
  min-width: 300px;
}

.palette-colors {
  display: flex;
  flex-direction: row;
  height: 145px;
}

.palette-color {
  flex: 1;
  padding: 6% 0;
  background-color: #bbb;
}

.palette-bottom-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: lighter;
  color: #646369;
}

.palette-span-1 {
  margin: 2px 0 2px 13px;
  text-align: left;
}

.palette-span-1 > a {
  color: #000;
  font-weight: normal;
  text-decoration: none;
}

.palette-span-2 {
  position: relative;
  right: 12px;
  top: 4px;
}

.palette-expand-button {
  width: 15px;
  height: 15px;
}

.palette-delete-span > a {
  color: #ff0000;
}
