/* .palette-container * {} */

.palette-container {
  font-size: 16px;
  width: 90%;
  margin: 10px auto 30px auto;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  border-radius: 15px;
}

.palette-colors {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.palette-color {
  flex: 1;
  padding: 6% 0;
  background-color: #bbb;
}

.palette-delete {
  position: relative;
  width: 18px;
  float: right;
  /* top: 150px; */
  /* right: 15px; */
}

.palette-bottom-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
  color: #757575;
}

.palette-span-1 {
  margin: 2px 0 2px 13px;
}

.palette-span-2 {
  margin: 2px 13px 1px 0;
}

.palette-span-1 > a {
  color: #000;
  font-weight: normal;
  text-decoration: none;
}
