.palette-container {
  height: 20%;
  width: 90%;
  margin: 0 auto 40px auto;
  background-color: #eee;
  border-radius: 4%;
}

.palette-colors {
  display: flex;
  flex-direction: row;
}

.palette-color {
  flex: 1;
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

.palette-delete {
  position: relative;
  width: 18px;
  float: right;
  bottom: 28px;
  right: 5px;
}
